:root {
  --dark-purple: #9d4edd;
  --light-purple: #c77dff;
  --main-font: 'Truculenta', sans-serif;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--dark-purple);
  font-size: 20px;
  background-image: url(./image-from-rawpixel-id-6267061-original.png);
  background-position: bottom;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main-font);
}

h1 {
  font-weight: var(--bold);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 5px solid var(--dark-purple);
  margin: 10px;
  ;
}

.square:hover {
  border-color: var(--light-purple);
  border-width: 10px;
}

li {
  list-style-image: url(https://img.icons8.com/ios-filled/35/ffffff/butterfly-side-view.png);
  list-style-position: inside;
}

p {
  margin: 5px;
}


details {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

summary {
  color: var(--dark-purple);

}

a {
  color: white;
}

a:hover {
  color: gray;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
}

.horizontal div {
  padding: 10px;
  position: relative;
  width: 300px;
}

.horizontal div::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 70px;
  height: 30px;
  border: none;
  background-color: var(--dark-purple);
  color: white;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
}

button:hover {
  background-color: black;
  border: 2px solid white;
}

button:active {
  background-color: var(--light-purple);
}
